*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
    font-style: normal;
}

header{
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 207, 207);
    align-items: center;
}

.logo
{
    width:30%;
}
.logo h1{
    font-weight: 600;
}

nav{
    width: 50%;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

nav ul li  a{
    color: black;
   text-decoration: none;
}

#buy{
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;
    color: white;
    background-color: teal;
    transition: 0.5s;
}

#buy:hover{
    letter-spacing: 1px;
}


.banner {
    width: 100%;
    height: 90vh;
    background-image: url(hoarah-loux-elden-ring-2022-games-pc-games-playstation-4-3840x2160-7522.jpg);
    background-size: cover;
    background-position: center ;padding: 20px 100px;
    display: flex;
    align-items: center;
}


.banner_content{
    width: 50%;
   
}

.banner_content h1{
    color: white;
    margin-bottom: 20px;
}
.banner_content p{
    color: white;
    line-height: 20px;
}


.content_box
{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    padding: 20px 100px;
    /* background-color: red; */
}

.content{
    width: 90%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: absolute;
    top: -60px;
    left: 75px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.content .box1{
    width: 30%;
    display: flex;
    align-items: center;
    
}

.content .box1 .img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.content .box1 .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.box2
{
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}


.box2 a{
    text-decoration: none;
    color: black;
    background-color: rgb(255, 204, 0);
    padding: 20px 30px;
    border-radius: 5px;
    font-weight: 600;

}


.page{
    width: 100%;
    padding: 20px 80px;
    /* background-color: yellow; */
    margin-top: 20px;
    

}
.main
{
    margin-top: 50px;
    width: 100%;
    /* padding: 20px; */
    display: flex;
}

.left
{
    width: 50%;
    padding: 20px;
    /* background-color: green; */
    /* justify-content: center; */
}

.left p{
    color: gray;
}
.left h1{
    margin-bottom: 20px;
}

.page_box
{
    width: 100%;
    padding: 30px;
    /* background-color: aqua; */
    border: 1px solid gray;
    text-align: center;
    border-radius: 3px;
}

.page_box a{
    text-align: center;
    background-color: rgb(255, 187, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.pgbox{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.box{
    width: 25%;
    justify-content: center;
   text-align: center;
    
    padding: 5px;
   
}

.box h1{
    text-decoration: underline yellow;
}



.box img{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
}


.right{
    width: 50%;
    padding: 20px;
    /* background-color: red; */
}

.right img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.schedule{

    width: 100%;
    padding: 50px 100px;
    text-align: center;
    /* background-color: aquamarine; */
}

.schedule_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.schedule p{
    color: gray;
    /* margin-bottom: 30px; */
}
.schedule i{
    color: rgb(255, 170, 0);
}

.box3{
    margin-top: 30px;
    width: 30%;
    padding: 15px;
    /* background-color: whitesmoke; */
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}

.box3 .img {
    width: 40%;

}

.box3 .img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.box .box3_content {
    width: 60%;
}
.box .box3_content p{
    color: gray;
    /* margin-bottom: -50px; */
}

.senior{
    width: 100%;
    padding: 20px 100px;
    background-color: aliceblue;
   justify-content: center;
}

.senior .wrap{
    width: 100%;
    margin-top: 20px;
    /* padding: 20px 0px; */
    display: flex;
    /* text-align: center; */
    
    
}
.senior .wrap .box4{
    /* padding: 40px; */
    width: 25%;
    display: flex;
    padding: 10px;
}

.box4 .icon{
    width: 20%;
}


.box4 .icon i{
    color: rgb(163, 163, 240);
    font-size: 50px;
    margin-right: 10px;
}

.box4 .bxcontent{
    margin-left: 10px;
    width:80%;
}

.box4 .bxcontent p{
    margin-top: 10px;
    color: gray;
}

.cover {
    width: 100%;
    height: 100vh;
    background: url(wallhaven-e7mw6o_3840x2160.png);
    background-position: center;
    background-size: cover;
    padding: 20px 100px;
    text-align: center;
}

.cover i{
    color: rgb(255, 162, 0);
    padding: 20px;
}

.upper{
    width: 100%;
    margin-top: 50px;
}

.upper h3{
    color: aliceblue;
}

.upper h1{
    margin-top: 10px;
    color: aliceblue;
}

.upper h1 span{
    color: rgb(255, 166, 0);
}


.upper p{
    margin-top: 20px;
    color: aliceblue;
}

.lower {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.lower .box5{
    width: 20%;
    padding: 20px;
    text-align: center;
    
}

.lower .box5 .img{
    height: 150px;
    width: 150px;
    border-radius: 50%;

}
.lower .box5 .img img{
    height: 150px;
    width: 150px;
    border-radius: 50%;

}

.lower .imgcontent{
    width: 150px;
    padding: 10px;
} 
.lower .imgcontent h1{
    color: white;
    font-size: 20px;
}
.lower .imgcontent h4{
    color: white;
    font-size: 10px;
}

.about
{
    width: 100%;
    padding: 20px 100px;
}

.maincover{
    display: flex;
    
}

.left2
{
    width: 50%;

    padding: 20px;
    /* background-color: red; */
}

.left2 .img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.left2 .img img{
    width: 100%;
    height: 100%;

}

.right2{
    width: 50%;
    padding: 20px;
}

.right2 .up{
    width: 100%;
    padding: 0px 20px;
}

.right2 .down{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right2 .down .container{
    width: 48%;
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    margin: 10px 0px;
}


.banner2{
    width: 100%;
    height: 100vh;
    padding: 20px 100px;
    text-align: center;
    background:   linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(Game-8K-Wallpapers-Backgrounds-Images-Photos-Pictures-Pics-WallpapersWave.com_63.jpg);
    background-size: cover;
    background-position: center;

}

.banner2 .btxt{
    width: 100%;
    padding: 30px;
    /* margin-top: 30px; */
    color: white;
}
.btxt h1{
    font-size: 50px;
}

.bimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 50px;
    
}

.bimg img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.b2txt{
    margin-top: 50px;
    width: 100%;
    padding: 20px 100px;
    color: whitesmoke;
}

.b2foot{
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    color: whitesmoke;
}




.banner3{
    width: 100%;
    padding: 50px 100px;
    
}

.banner3 .btop{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.banner3 .btop p{
    color: gray;
}

.bdown{
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}

.bdown .card{
    width: 30%;
    height: 400px;
    padding: 0px;
    position: relative;
    box-shadow: 2px 2px 10px gray;
}

.card img{
    width: 100%;
    height: 70%;
}

.card h4{
    margin-top: 20px;
    padding: 10px;
}
.div {
    width: 100px;
    padding: 5px;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 120px;
    left: 0px;
    display: flex;
}

.div h1{
    padding-right: 10px;
}


.last
{
    width: 100%;
    padding: 50px 100px;
    background: url(Game-8K-Wallpapers-Backgrounds-Images-Photos-Pictures-Pics-WallpapersWave.com_71.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;

}

.last h1{
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.place {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.place input{
    width: 50%;
    padding: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
}

.place a{
    padding: 12px 20px;
    background-color: rgb(255, 153, 0);
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer{
    width: 100%;
    padding: 20px 100px;
    background-color: black;
    display: flex;
}

.footer .fleft{
    padding: 50px ;
    width: 50%;
    /* background-color: red; */
}

.fleft h3{
    color: white;
    font-size: 30px;
    margin-bottom: 20px ;
}

.fleft p{
    color: gray;
}

.fleft i{
    color: black;
    background-color: rgb(255, 162, 0);
    border-radius: 50%;
    font-size: larger;
    padding: 20px;
    margin: 10px;
}

.footer .fright{
    padding: 50px;
    width: 50%;
    /* background-color: burlywood; */
}

.fright h3{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

.fright p{
    color: gray;
    margin-bottom: 25px;
}

.fright i{
    color: white;
    margin-right: 15px;
}
